<!DOCTYPE HTML>
{% load static %}
<html>
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Tiztaz travel agency and tourist</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Free HTML5 Website Template by GetTemplates.co" />
	<meta name="keywords" content="free website templates, free html5, free template, free bootstrap, free website template, html5, css3, mobile first, responsive" />
	<meta name="author" content="GetTemplates.co" />

  	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">
	
	<!-- Animate.css -->
	<link rel="stylesheet" href="{% static 'officeinfo/css/animate.css' %} ">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="{% static 'officeinfo/css/icomoon.css' %} ">
	<!-- Themify Icons-->
	<link rel="stylesheet" href="{% static 'officeinfo/css/themify-icons.css' %} ">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="{% static 'officeinfo/css/bootstrap.css' %} ">

	<!-- Magnific Popup -->
	<link rel="stylesheet" href="{% static 'officeinfo/css/magnific-popup.css' %} ">

	<!-- Magnific Popup -->
	<link rel="stylesheet" href="{% static 'officeinfo/css/bootstrap-datepicker.min.css' %} ">

	<!-- Owl Carousel  -->
	<link rel="stylesheet" href="{% static 'officeinfo/css/owl.carousel.min.css' %} ">
	<link rel="stylesheet" href="{% static 'officeinfo/css/owl.theme.default.min.css' %} ">

	<!-- Theme style  -->
	<link rel="stylesheet" href="{% static 'officeinfo/css/style.css' %} ">

	<!-- Modernizr JS -->
	<script src="{% static 'officeinfo/js/modernizr-2.6.2.min.js' %}"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->

	</head>
	<body>
		
	<div class="gtco-loader"></div>
	
	<div id="page">

	
	<!-- <div class="page-inner"> -->
	<nav class="gtco-nav" role="navigation">
		<div class="gtco-container">
			
			<div class="row">
				<div class="col-sm-4 col-xs-12">
					<div id="gtco-logo">Tiztaz travel agency & tourist<em>.</em></div>
				</div>
				<div class="col-xs-8 text-right menu-1">
					<ul>
						<li><a href="check-visa-status/">Check Your Visa Status</a></li>
						<li>
							<a href="ticket/">Tickets</a>
						</li>
						<li><a href="contact/">Contact</a></li>
					</ul>	
				</div>
			</div>
			
		</div>
	</nav>
	
	<header id="gtco-header" class="gtco-cover gtco-cover-md" role="banner" style="height: 70em">
		<div class="overlay"></div>
		<div class="gtco-container">
			<div class="row">
				<div class="col-md-12 col-md-offset-0 text-left">
					

					<div class="row row-mt-15em">
						<div class="col-md-3 mt-text animate-box" data-animate-effect="fadeInUp">
							<h1>Planing Trip To Anywhere in The World?</h1>	
						</div>
						<div class="col-md-9 col-md-push-1 text-center animate-box" data-animate-effect="fadeInRight">
							<div class="form-wrap">
								<div class="tab">
									
									<div class="tab-content">
										<div class="tab-content-inner active" data-content="signup">
											<h3>Customer Registration</h3>
											<form action="" method='POST'>
												{% csrf_token %} 
												{% if failed %}
												<div class="row form-group">
													<div class="col-md-12">
														<h4 style="color: red"> {{message}}</h4>
													</div>
												</div>
												{% endif %}
												{% if not failed %}
												<div class="row form-group">
													<div class="col-md-12">
														<h4 style="color: green"> {{message}}</h4>
													</div>
												</div>
												{% endif %}
												<div class="row form-group">
													<div class="col-md-4">
														<label for="fullname">Name</label>
														{{form.first_name}}
														{% comment %} <input type="text" id="fullname" class="form-control"> {% endcomment %}
													</div>
													<div class="col-md-4">
														<label for="fullname">Last Name</label>
														{{form.last_name}}
														{% comment %} <input type="text" id="fullname" class="form-control"> {% endcomment %}
													</div>
													<div class="col-md-4">
														<label for="fullname">Father Name</label>
														{{form.father_name}}
														{% comment %} <input type="text" id="fullname" class="form-control"> {% endcomment %}
													</div>
												</div>
										
												<div class="row form-group">
													<div class="col-md-4">
														<label for="fullname">Date of Birth</label>
														{{form.dob}}
														{% comment %} <input type="text" id="fullname" class="form-control"> {% endcomment %}
													</div>
													<div class="col-md-4">
														<label for="fullname">Tazkera No</label>
														{{form.id_card}}
														{% comment %} <input type="text" id="fullname" class="form-control"> {% endcomment %}
													</div>
													<div class="col-md-4">
														<label for="fullname">Passport No</label>
														{{form.passport_number}}
														{% comment %} <input type="text" id="fullname" class="form-control"> {% endcomment %}
													</div>
												</div>
											
											
												<div class="row form-group">
													<div class="col-md-4">
														<label for="fullname">Country to Travel</label>
														{{form.country_to_travel}}
														{% comment %} <input type="text" id="fullname" class="form-control"> {% endcomment %}
													</div>
													<div class="col-md-4">
														<label for="fullname">Visa Type</label>
														{{form.visa_type}}
														{% comment %} <input type="text" id="fullname" class="form-control"> {% endcomment %}
													</div>
													<div class="col-md-4">
														<label for="fullname">Price Of Visa</label>
														{{form.price_of_visa}}
														{% comment %} <input type="text" id="fullname" class="form-control"> {% endcomment %}
													</div>
												</div>
									
												<div class="row form-group">
													<div class="col-md-4">
														<label for="fullname">Gender</label>
														{{form.gender}}
														{% comment %} <input type="text" id="fullname" class="form-control" value=>  {% endcomment %}
													</div>
													<div class="col-md-4">
														<label for="fullname">Phone No</label>
														{{form.phone}}
														{% comment %} <input type="text" id="fullname" class="form-control"> {% endcomment %}
													</div>
													<div class="col-md-4">
														<label for="fullname">Mobile No</label>
														{{form.mobile}}
														{% comment %} <input type="text" id="fullname" class="form-control"> {% endcomment %}
													</div>
												</div>
												
													
												</div>
												<div class="row form-group">
													<div class="col-md-4">
														<label for="fullname">Email Address</label>
														{{form.email}}
														{% comment %} <input type="text" id="fullname" class="form-control"> {% endcomment %}
													</div>
													<div class="col-md-4">
														<label for="fullname">Address</label>
														{{form.address}}
														{% comment %} <input type="text" id="fullname" class="form-control"> {% endcomment %}
													</div>
													<div class="col-md-4">
														<label for="fullname">District</label>
														{{form.district}}
														{% comment %} <input type="text" id="fullname" class="form-control"> {% endcomment %}
													</div>
												</div>

												<div class="row form-group">
													<div class="col-md-4">
														<label for="fullname">Province</label>
														{{form.city}}
														{% comment %} <input type="text" id="fullname" class="form-control"> {% endcomment %}
													</div>
													<div class="col-md-4">
														<label for="fullname">country</label>
														{{form.country}}
														{% comment %} <input type="text" id="fullname" class="form-control"> {% endcomment %}
													</div>
													<div class="col-md-4">
														<label for="fullname">Profile Image</label>
														{{form.profile_image}}
														{% comment %} <input type="text" id="fullname" class="form-control"> {% endcomment %}
													</div>
												</div>
												
												
												<div class="row form-group">
													<div class="col-md-6">
														<label for="fullname">Passport Image</label>
														{{form.passport_image}}
														{% comment %} <input type="text" id="fullname" class="form-control"> {% endcomment %}
													</div>
													<div class="col-md-6">
														<label for="fullname">Tazkera Image</label>
														{{form.tazkira_image}}
														{% comment %} <input type="text" id="fullname" class="form-control"> {% endcomment %}
													</div>
												</div>
												<div class="row form-group">
													
												</div>

												<div class="row form-group">
													<div class="col-md-12">
														<input type="submit" class="btn btn-primary btn-block" value="Submit">
													</div>
												</div>
											</form>	
										</div>

										
									</div>
								</div>
							</div>
						</div>
					</div>
							
					
				</div>
			</div>
		</div>
	</header>
	<div id="gtco-features">
		<div class="gtco-container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center gtco-heading animate-box">
					<h2>How It Works</h2>
					<p>It has three step to complete your visa or Tickets process.</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 col-sm-6">
					<div class="feature-center animate-box" data-animate-effect="fadeIn">
						<span class="icon">
							<i>1</i>
						</span>
						<h3>Complete the form</h3>
						<p>When you complete the form, we will generate ID for your form visa status.</p>
					</div>
				</div>
				<div class="col-md-4 col-sm-6">
					<div class="feature-center animate-box" data-animate-effect="fadeIn">
						<span class="icon">
							<i>2</i>
						</span>
						<h3>Checkout your status</h3>
						<p>When you copy your ID, that is shown your visa status and Ticket status.  </p>
					</div>
				</div>
				<div class="col-md-4 col-sm-6">
					<div class="feature-center animate-box" data-animate-effect="fadeIn">
						<span class="icon">
							<i>3</i>
						</span>
						<h3>Last step showning your Result</h3>
						<p>Last step we are showning your status is Approve or Fail.</p>
					</div>
				</div>
				

			</div>
		</div>
	</div>

	<div class="gtco-cover gtco-cover-sm" data-stellar-background-ratio="0.5">
		<div class="overlay"></div>
		<div class="gtco-container text-center">
			<div class="display-t">
				<div class="display-tc">
					<h1>We have high quality services that you will surely love!</h1>
				</div>	
			</div>
		</div>
	</div>

	<footer id="gtco-footer" role="contentinfo">
		<div class="gtco-container">
			<div class="row row-p	b-md">

				<div class="col-md-4">
					<div class="gtco-widget">
						<h3>Phisycal Address</h3>
						<p># Gulabahar Center, Shop A42, Kabul, Afghanistan</p>
					</div>
				</div>

				<div class="col-md-2 col-md-push-1">
					<div class="gtco-widget">
						<h3>Destination</h3>
						<ul class="gtco-footer-links">
							<li><a href="#">China</a></li>
							<li><a href="#">Pakistan</a></li>
							<li><a href="#">Russia</a></li>
							<li><a href="#">Iran</a></li>
							<li><a href="#">India</a></li>
						</ul>
					</div>
				</div>
				<div class="col-md-3 col-md-push-1">
					<div class="gtco-widget">
						<h3>Get In Touch</h3>
						<ul class="gtco-quick-contact">
							<li><a href="#"><i class="icon-phone"></i> +93 747929392</a></li>
							<li><a href="#"><i class="icon-mail2"></i> tiztaztravelagency@gmail.com</a></li>
						</ul>
					</div>
				</div>

			</div>

			<div class="row copyright">
				<div class="col-md-12">
					<p class="pull-left">
						<small class="block">&copy; 2022 Mesbah Naraiwall</small> 
						<small class="block">Designed by <a href="#" target="_blank">Mesbah Naraiwall</a></small>
					</p>
					<p class="pull-right">
						<ul class="gtco-social-icons pull-right">
							<li><a href="#"><i class="icon-facebook"></i></a></li>
						</ul>
					</p>
				</div>
			</div>

		</div>
	</footer>
	<!-- </div> -->

	</div>

	<div class="gototop js-top">
		<a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
	</div>
	
	<!-- jQuery -->
	<script src="{% static 'officeinfo/js/jquery.min.js' %}"></script>
	<!-- jQuery Easing -->
	<script src="{% static 'officeinfo/js/jquery.easing.1.3.js' %}"></script>
	<!-- Bootstrap -->
	<script src="{% static 'officeinfo/js/bootstrap.min.js' %}"></script>
	<!-- Waypoints -->
	<script src="{% static 'officeinfo/js/jquery.waypoints.min.js' %}"></script>
	<!-- Carousel -->
	<script src="{% static 'officeinfo/js/owl.carousel.min.js' %}"></script>
	<!-- countTo -->
	<script src="{% static 'officeinfo/js/jquery.countTo.js' %}"></script>

	<!-- Stellar Parallax -->
	<script src="{% static 'officeinfo/js/jquery.stellar.min.js' %}"></script>

	<!-- Magnific Popup -->
	<script src="{% static 'officeinfo/js/jquery.magnific-popup.min.js' %}"></script>
	<script src="{% static 'officeinfo/js/magnific-popup-options.js' %}"></script>
	
	<!-- Datepicker -->
	<script src="{% static 'officeinfo/js/bootstrap-datepicker.min.js' %}"></script>
	

	<!-- Main -->
	<script src="{% static 'officeinfo/js/main.js' %}"></script>

	</body>
</html>

